.carrousel_link_button{
  background: linear-gradient(145deg, #c4c2c2, #a3a1a1); 
  color: white;
  padding: 7px 12px;
  margin-top: 75px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.carrousel_link_button:hover{
   transform: scale(1.05);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), -4px -4px 10px rgba(255, 255, 255, 0.4);
}

.submit_button{
  margin: 15px 0px;
  background: linear-gradient(145deg, #c4c2c2, #a3a1a1); 
  color: white;
  padding: 7px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}