.carrousel-container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slide-container {
  display: flex;
  height: auto;
  position: relative;
}

.slide {
  flex: 0 0 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
  text-align: center;
}

.slide.active {
  display: flex;
}

.carrousel-button-prev,
.carrousel-button-next {
  position: absolute;
  bottom: 45%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  font-size: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: background-color 0.3s ease;
  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    font-size: 20px;
    
  }
}

.carrousel-button-prev:hover,
.carrousel-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carrousel-button-prev {
  left: 10px;
}

.carrousel-button-next {
  right: 10px;
}

.carrousel-image-overlay {
  position: relative;
  width: 100%;
  aspect-ratio: 15.7 / 8;
  border-radius: 25px;
  overflow: hidden;
}

.carrousel-image-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 25px;
}

.carrousel_button_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .carrousel-button-prev,
  .carrousel-button-next {
    width: 30px;
    height: 30px;
  }
}
