.swiper {
  width: 100vw;
  height: 81vh;
}

.swiper-wrapper{
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  & img{
    position: relative;
     object-fit: cover;
     width: 100%;
     max-width: 1240px;
     height: 97%;
     border-radius: 20px;
     border: 1px solid lightgrey;
     box-shadow: 
     10px 10px 10px rgba(0, 0, 0, 0.5),
  }
}

.swiper-slide:nth-child(1n),
.swiper-slide:nth-child(2n),
.swiper-slide:nth-child(3n),
.swiper-slide:nth-child(4n),
.swiper-slide:nth-child(5n),
.swiper-slide:nth-child(6n),
.swiper-slide:nth-child(7n),
.swiper-slide:nth-child(8n),
.swiper-slide:nth-child(9n) {
  background-color: #dfe4e7;
}

.swiper-pagination-bullets {
  position: absolute;
  bottom: 730px!important;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 10px;  
  height: 10px; 
  margin: 0 4px; 
  background-color: rgb(112, 112, 112); 
  border-radius: 50%;
  opacity: 0.7; 
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: white;  
  opacity: 1; 
  background-color: black;
}