.swiper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  height: 100%;
}

.swipper-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex!important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: auto;
  color: #fff;
  & img{
     position: relative;
     object-fit: cover;
     object-position: top;
     width: 100%;
     height: 100%;
     border-radius: 25px;
     border: 1px solid lightgrey;
     @media screen and (max-width: 768px){
       border-radius: 10px;
     }
  }
}

.swiper-slide:nth-child(1n),
.swiper-slide:nth-child(2n),
.swiper-slide:nth-child(3n),
.swiper-slide:nth-child(4n),
.swiper-slide:nth-child(5n),
.swiper-slide:nth-child(6n),
.swiper-slide:nth-child(7n),
.swiper-slide:nth-child(8n),
.swiper-slide:nth-child(9n) {
  background-color: #dfe4e7;
}

.image-overlay{
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 40%; 
  color: white; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10; 
  @media screen and (min-width: 550px) and (max-width: 768px){
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: 769px){
    width: 60px;
    height: 60px;
  }
  &::after {
    font-size: 2rem; 
    @media screen and (min-width: 550px) and (max-width: 768px){
      font-size: 2.5rem;
    }
    @media screen and (min-width: 769px){
      font-size: 3.5rem;
    }
  }
}

.swiper-button-prev {
  left: 7px;
}

.swiper-button-next {
  right: 7px;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}
