.competences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1240px;
  gap: 50px;
  margin: 50px 0px;
  
  @media screen and (max-width: 768px){
    gap: 70px;
  }

  @media screen and (max-width: 1240px) {
    padding: 0 20px;
  }

  .competences_title_container {
    display: flex;
    justify-content: center;

    .competences_title_container_developpeur {
      width: 100%;
      text-align: center;
      font-family: "Dancing Script", serif;
      font-size: 3rem;
      font-weight: bold;
      @media screen and (max-width: 480px) {
        font-size: 2.8rem;
      }

      @media screen and (min-width: 480px) {
        font-size: 3rem;
      }
    }
  }

  .competences_logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    max-height: 675px;
    padding: 100px 30px;
    gap: 50px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 480px) {
      flex-direction: column;
      padding: 30px;
      box-shadow: none;
    }

    @media screen and (min-width: 480px) and (max-width: 930px) {
      flex-direction: column;
      padding: 50px 30px;
    }

    & img {
      width: 30px;
      height: auto;
    }

    &_line {
      width: 100%;
      border: 5px solid white;
      border-radius: 25px;
      box-shadow: 
        0px -20px 120px rgba(255, 255, 255, 1.5),
        0px 20px 120px rgba(255, 255, 255, 1.5);
    }

    .competences_logo_container_competences_outils {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 1px solid white;
      width: 100%;
      height: 100%;
      gap: 35px;
      max-height: 270px;
      border-radius: 25px;
      padding: 25px 15px;
    }

    .competences_logo_container_competences_logo,
    .competences_logo_container_outils_logo {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .competences_logo_container_connaissances {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid white;
      width: 100%;
      height: 100%;
      max-height: 270px;
      gap: 25px;
      border-radius: 25px;
      padding: 15px 15px;
    }

    .competences_logo_container_connaissances_container_connaissance {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 15px;

      @media screen and (min-width: 768px) {
        gap: 30px;
      }

      img {
        width: 25px;
      }
    }

    .competences_logo_container_competences,
    .competences_logo_container_outils {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .competences_logo_container_connaissances_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .competences_logo_container_competences_logo img,
    .competences_logo_container_outils_logo img {
      width: 40px;

      @media screen and (max-width: 480px) {
        width: 30px;
      }
    }
  }
}
