.logo-container link{
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 1.4rem;
   @media screen and (max-width: 768px){
      width: 20%;
   }
   @media screen and (min-width: 768px){
      width: 7%;
   }
}