.nav{
   display: flex;
   align-items: center;
   width: 100%;
   & li{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      letter-spacing: 1px;
      padding: 9px 5px;
      border-radius: 10px;
      @media screen and (max-width: 768px){
         padding: 5px;
      }
      &:hover{
         background-color: rgb(116, 115, 115);
      }
   }
}

.liste{
   display: flex;
   justify-content: end;
   width: 100%;
   font-family: "Dancing Script", serif;
   font-size: 1.3rem;
   font-weight: bold;
   padding: 10px;
   gap: 2.8rem;
   color: white;
   @media screen and (max-width: 550px){
      gap: 0.2rem;
      flex-direction: column;
      align-items: center;
   }
   @media screen and (min-width: 551px) and (max-width: 768px){
      font-size: 1.4rem;
      justify-content: space-around;
      gap: 1rem;
   }
}


.liste_accueil_competences,
.liste_projets_contact{
   display: flex;
   gap: 2.8rem;
   @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
   }
}

.nav-return{
   display: flex;
   justify-content: space-around;
   align-items: center;
}