.header{
   display: flex;
   justify-content: space-between;
   padding: 0px 12px;
   border-bottom: 3px solid ;
   background-color: black;
   color: white;
   border-bottom: 5px solid #BDC3C7;
   @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
      padding: 10px;
   }
}

.header_logo{
   width: 100%;
}