.projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #dfe4e7;
    margin-top: 30px;
    gap: 20px;
    padding: 0 20px;
    @media screen and (max-width: 768px){
      gap: 35px;
      margin-top: 50px;
    }
  &_title{
    display: flex;
    justify-content: center;
    width: 100%;
      text-align: center;
      font-family: "Dancing Script", serif;
      font-size: 3rem;
      font-weight: bold;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  padding-bottom: 80px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(-160deg, black 44%, white 77%);
  
  &_title{
    color: white;
    margin-top: 30px;
    width: 100%;
      text-align: center;
      font-family: "Dancing Script", serif;
      font-size: 3rem;
      font-weight: bold;
  }
  &_formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px){
      width: 90%;
      
    }
  }
}

.silverline{
  border: 2.5px solid #BDC3C7;  
  width: 100%;
}