.projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: #dfe4e7;
    margin-top: 50px;
    gap: 40px;
    padding: 0 20px;
    scroll-margin-top: 110px;

    @media screen and (max-width: 768px){
      gap: 35px;
      margin-top: 50px;
      scroll-margin-top:220px;
    }
  &_title{
    display: flex;
    justify-content: center;
    width: 100%;
      text-align: center;
      font-family: "Dancing Script", serif;
      font-size: 3rem;
      font-weight: bold;
  }
  &_description{
    width: 100%;
    text-align: center;
    max-width: 1240px;
    font-size: 1.2rem;
    @media screen and (max-width: 768px){
      font-size: 1rem;
    }
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  padding-bottom: 80px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(-160deg, black 44%, white 77%);
  
  &_title{
    color: white;
    margin-top: 30px;
    width: 100%;
      text-align: center;
      font-family: "Dancing Script", serif;
      font-size: 3rem;
      font-weight: bold;
  }

  &_formTitle{
    font-size: 1.2rem;
    @media screen and (max-width: 768px){
      font-size: 1rem;
    }
  }
  &_formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1240px;
    width: 100%;
    gap: 50px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px){
      width: 90%;
      
    }
  }
}

.silverline{
  border: 2.5px solid #BDC3C7;  
  width: 100%;
}

.hidden {
  opacity: 0;
  transform: translateY(110px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

#presentation,
#competences,
#projets,
#contact {
  scroll-margin-top: 110px;
}

@media screen and (max-width: 768px) {
  #presentation,
  #competences,
  #projets,
  #contact {
    scroll-margin-top: 220px;
  }
}