.presentation{
  padding: 0px 50px;
  margin-bottom: 50px;
}

.presentation_title{
   display: flex;
   justify-content: center;
   &_portfolio {
    font-family: 'Roboto Slab', serif;
    font-size: 3.2rem;
    font-weight: bold;
    padding: 4px 19px;
    .por {
      color: rgb(22, 22, 22);
      margin-right: 5px;
    }
    
    .tfo {
      background: linear-gradient(45deg, black, rgb(177, 177, 177)); 
      background-clip: padding-box;
      -webkit-background-clip: text; 
      color: transparent; 
      margin-right: 5px;
    }
    .lio {
      color: rgb(177, 177, 177); 
    }
  }
}

.presentation_container_card{
  display: flex;
  justify-content: center;
  padding: 60px 50px 110px 50px;
  gap: 140px;
}

.presentation_container_card_img{
  width: 400px;
  height: 555px;
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border: 1px solid rgb(255, 255, 255);
  &:hover {
     transform: translate3d(-10px, -10px, 0); 
     box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
  }
}

.presentation_container_description{
display: flex;
align-items: center;
background-color: white;
color: black;
width:700px;
height: 555px;
padding: 40px;
font-family: 'Roboto Slab', serif;
font-size: 1.3rem;
border-radius: 25px;
overflow: hidden;
border: 1px solid lightgrey;
transition: transform 0.6s ease, box-shadow 0.6s ease;
&:hover{
  transform: translate3d(-10px, -10px, 0); 
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
 }
}

.competences{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1240px;
  gap: 50px;
}

.competences_title_container{
    display: flex;
    justify-content: center;
}

.competences_logo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 3px solid black;
  border-radius: 25px;
  background-color: black;
  color: white;
  height: 750px;
  margin-bottom: 50px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  &_line{
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 
    0px -20px 120px rgba(255, 255, 255, 1.5),
    0px 20px 120px rgba(255, 255, 255, 1.5);
  }
  &_html{
    position: absolute;
    top: 37%;
    left: 6%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_css{
    position: absolute;
    bottom: 37%;
    left: 13%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_git{
    position: absolute;
    top: 37%;
    left: 20%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  } 
  &_sass{
    position: absolute;
    bottom: 37%;
    left: 29%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_github{
    position: absolute;
    top: 37%;
    left: 35%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_javascript{
    position: absolute;
    top: 37%;
    left: 50%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_react{
    position: absolute;
    bottom: 37%;
    left: 43%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_redux{
    position: absolute;
    top: 37%;
    left: 67%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_api{
    position: absolute;
    bottom: 36%;
    left: 58%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_notion{
    position: absolute;
    bottom: 37%;
    left: 76%;
    transition: transform 0.3s ease;
    &:hover{
      transform: scale(1.2);
    }
  }
  &_feedly{
    position: absolute;
    top: 37%;
    left: 85%;
    transition: transform 0.3s ease;
    background-color: white;
    border-radius: 10px;
    &:hover{
      transform: scale(1.2);
    }
  }
}

.projets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: #dfe4e7;
  &_title{
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 25px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(-160deg, black 44%, white 77%);
  &_title{
    margin-top: 30px;
    color: white;
  }
  &_formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
  }
}

.silverline{
  border: 2.5px solid #BDC3C7;  
  width: 100%;
}