@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'layout/header' as *;
@use 'layout/main' as *;
@use 'layout/footer' as *;
@use 'page/homepage' as *;
@use 'components/nav' as *;
@use 'components/logo' as *;
@use 'components/card' as *;
@use 'components/carrousel' as *;
@use 'components/button' as *;
@use 'components/form' as *;
@use 'components/modal' as *;
@use 'components/overlay' as *;
@use 'components/competences' as *;
@use 'components/presentation' as *;
@use 'components/arrowtotop' as *;
@use 'page/projectDetails' as *;
@use 'page/Error404' as *;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   list-style: none;
}

#root{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

html {
   scroll-behavior: smooth;
 }

a{
   color: white;
   text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
   font-weight: bold;
   color: black;
}

html {
   font-size: 16px; 
 }
 
 h1 {
   font-size: 3.5rem; 
   font-family: "Dancing Script", serif;
 }
 
 h2 {
   font-size: 2.4rem; 
   font-family: "Dancing Script", serif;
 }
 
 h3 { 
   color: white;
 }