@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'layout/header' as *;
@use 'layout/main' as *;
@use 'layout/footer' as *;
@use 'page/homepage' as *;
@use 'components/nav' as *;
@use 'components/logo' as *;
@use 'components/card' as *;
@use 'components/carrousel' as *;
@use 'components/button' as *;
@use 'components/form' as *;
@use 'components/modal' as *;
@use 'components/overlay' as *;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

#root{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

html {
   scroll-behavior: smooth;
 }

a{
   color: white;
   text-decoration: none;
}

h2{
   font-size: 50px;
   font-weight: bold;
   color: black;
   font-family: "Dancing Script", serif;
}